[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/eas-contracts"]
	path = contracts/lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
